.all_filter {
    display: flex;
    flex-direction: column;
}

.add_filter_btn {
    margin-left: 4vw;
}

.field {
    margin-left: 4vw;
    /* width: 100%; */
    display: flex;
    /* flex-direction: row; */
}

.input_span {
    margin: 0.4% 1%;
}

.delete_btn {
    background: none;
    height: 100%;
    padding: 0 5%;
    margin: 0;
}